//Подключение модулей
@import "libs/animate"
@import "libs/magnific-popup"

@import "block/fonts"
@import "block/reset"
@import "block/vars"
@import "block/extends"


/* Основные базовые стили */

body
	font-family: $fontMain
	font-size: $fz
	line-height: 1.6
	border-radius: 16px
	background-color: $white

img 
	max-width: 100%
	height: auto
a
	display: inline-block
.container
	max-width: 1240px
	margin: 0 auto
	padding: 0 20px
	position: relative


/* Ниже подключаем отдельные файлы CSS по блокам и по подключаемым библиотекам */
@import "block/header"
@import "block/btnForm"
@import "block/about"
@import "block/room"
@import "block/footer"


@import "block/media"

