//Подключение модулей
@import "block/fonts"
@import "block/reset"
@import "block/vars"
@import "block/extends"


/* Основные базовые стили */

body
	font-family: $fontMain
	font-size: $fz
	line-height: 1.6
img 
	max-width: 100%
	height: auto
a
	display: inline-block
.container
	max-width: 1240px
	margin: 0 auto
	padding: 0 20px

/* Ниже подключаем отдельные файлы CSS по блокам и по подключаемым библиотекам */
@import "block/header"
@import "block/footer"


@import "block/media"

