@font-face
	font-family: 'DMSansAvensa' 
	src: url(../fonts/DMSans-Bold.woff2) format('woff2')
	src: local('DMSans-Bold'), url(../fonts/DMSans-Bold.woff) format('woff'), url(../fonts/DMSans-Bold.eot) format('embedded-opentype'), url(../fonts/DMSans-Bold.ttf) format('truetype')
	font-weight: 700
@font-face
	font-family: 'CormorantAvensa' 
	src: url(../fonts/Cormorant-Bold.woff2) format('woff2')
	src: local('Cormorant-Bold'), url(../fonts/Cormorant-Bold.woff) format('woff'), url(../fonts/Cormorant-Bold.eot) format('embedded-opentype'), url(../fonts/Cormorant-Bold.ttf) format('truetype')
	font-weight: 700
@font-face
	font-family: 'CormorantAvensa' 
	src: url(../fonts/Cormorant-SemiBold.woff2) format('woff2')
	src: local('Cormorant-SemiBold'), url(../fonts/Cormorant-SemiBold.woff) format('woff'), url(../fonts/Cormorant-SemiBold.eot) format('embedded-opentype'), url(../fonts/Cormorant-SemiBold.ttf) format('truetype')
	font-weight: 600
@font-face
	font-family: 'AlegreyaSCAvensa'
	src: url(../fonts/AlegreyaSC-Bold.woff2) format('woff2')
	src: local('AlegreyaSC-Bold'), url(../fonts/AlegreyaSC-Bold.woff) format('woff'), url(../fonts/AlegreyaSC-Bold.eot) format('embedded-opentype'), url(../fonts/AlegreyaSC-Bold.ttf) format('truetype')
	font-weight: 700
@font-face
	font-family: 'AlegreyaAvensa'
	src: url(../fonts/Alegreya-Medium.woff2) format('woff2')
	src: local('Alegreya-Medium'), url(../fonts/Alegreya-Medium.woff) format('woff'), url(../fonts/Alegreya-Medium.eot) format('embedded-opentype'), url(../fonts/Alegreya-Medium.ttf) format('truetype')
	
		


