@font-face
	font-family: Helvetica-normal, sans-serif  
	src: url(../font/HelveticaNeueCyr-Medium.woff2)
@font-face
	font-family: Helvetica-bold, sans-serif  
	src: url(../font/HelveticaNeueCyr-Bold.woff2)

