@media screen and ( max-width: 1300px )
	.header__menu
		font-size: 1.2rem
		&-item
			padding: 0.8rem 1rem 0.45rem


@media screen and ( max-width: 1040px )
	.header__menu
		font-size: 0.8rem


@media screen and ( max-width: 990px )
	.header__top
		padding: .95rem 1.5rem
		gap: .8rem
		.toggle
			min-height: fit-content
	.header__menu
		&-item
			padding: 0.6rem 0.5rem 0.35rem
	.header__bottom
		gap: 20px
		justify-content: center
		padding: 10px
		.header__bottom-btn
			position: relative
			top: 0
			left: 0
			transform: translate(0, 0)
			margin: 0 auto 15px
		.header__bottom-info
			width: 50%
	.header__bottom-social-title
		text-align: center

@media screen and ( max-width: 900px )
	.header__logo
		width: 15%
	.header__menu.active
		top: 95px
	.header__center
		margin-top: 3rem
	.header__center-logo 
		width: 68%
		margin: 0 auto 5rem


@media screen and ( max-width: 750px )
	.header__top
		padding: .6rem 1rem
	.header__menu
		font-size: 0.65rem
	


@media screen and ( max-width: 650px )
	.header__top
		.toggle
			display: block
	.header__logo
		width: 20%
	.header__menu
		display: none
	.header__menu.active
		font-size: 1.5rem
	.header__bottom 
		.header__bottom-info
			width: 100%
			text-align: center
	.header__center-title
		font-size: 2.2rem
	.header__center-phone
		font-size: 1.5rem
	.header__center-logo
		margin-bottom: 60px
		width: 100%
	