@media screen and ( max-width: 1200px )
	.header__menu-link
		font-size: 1.2rem
	.header__phone
		font-size: 1.1rem
	.header__logo
		width: 15%
	.header__menu > ul
		gap: 2rem

@media screen and ( max-width: 990px )
	.header__menu-link
		font-size: 1.05rem
	.header__phone
		font-size: .95rem
		.bg-phone
			width: 1.2rem
	.header__menu > ul
		gap: 1rem
	.header__slogan 
		margin-top: 15rem
		width: 80%
@media screen and ( max-width: 767px )
	.header__menu
		display: none
	.toggle
		display: block
	.header__logo
		width: 18%
	.header__phone
		font-size: 1.1rem
		.bg-phone
			width: 1.5rem
	.header__slogan 
		width: 100%
		margin-bottom: 10rem
		margin-top: 13rem
		font-size: 2.7rem
	.header__bottom
		flex-wrap: wrap
		gap: 3rem
	.bottom__gallery
		margin-bottom: 1.2rem

@media screen and ( max-width: 480px )
	.header__phone
		font-size: .95rem
		.bg-phone
			width: 1.2rem
	.toggle, .toggle::after, .toggle::before
		width: 25px
	.header__slogan 
		margin-top: 12rem
		margin-bottom: 11rem
		font-size: 2.5rem
	.gallery-title, .soc-title
		font-size: 1.4rem
	.header__bottom
		justify-content: center
	.gallery-button
		left: 142px
	.gallery-title
		margin-right: 35px