// Резиновая верстка
$index: calc(1vw + 1vh)
// Шрифты
$fz: 24px
$fontMain: AlegreyaAvensa, serif
$fontMenu: AlegreyaSCAvensa, serif
$fontTitle: CormorantAvensa, serif
$fontButton: DMSansAvensa, serif
// Цвета
$white: #fff
$light: #FFF5EB
$dark: #4D4D4D
$black: #000
$accent: #A79248
$bgGradient: linear-gradient(180deg, #FFF5EB 0%, #FFFFFF 47.47%)
$bg: #FFF5EB

// Другое
$transition: .5s cubic-bezier(.05, .5, 0, 1)

