/* Стили шапки сайта */
.logo, .layer-1, .layer-2, .layer-5, .layer-6
	background-position: center
	background-repeat: no-repeat
	background-size: cover

.layer-5, .layer-6, .layer-4
	pointer-events: none

.header
	background-color: $dark
	font-weight: 900
	color: $white

.logo
	width: calc( $index * 12 )
	height: calc( $index * 10 )
	position: absolute
	left: 50%
	top: 20%
	transform: translateX(-50%)
	z-index: 2

.layers
	perspective: 900px
	overflow: hidden
	&__container
		height: 100vh
		transform-style: preserve-3d
		transform: rotateX(var(--move-y)) rotateY(var(--move-x))
		will-change: transform
		min-height: 500px
		transition: $trans
.layers__item 
	position: absolute
	inset: -5vw
	display: flex
	align-items: center
	justify-content: center

.layers__content
	display: flex
	flex-direction: column
	justify-content: space-around
	gap: calc( $index * 4 )
	align-items: center
	padding-top: calc( $index * 10 )
	p
		font-size: calc( $index * 1.2 )
		letter-spacing: 2px
		font-weight: 400
		font-style: italic

.layer-1
	transform: translateZ(-60px) scale(1.06)
.layer-2
	transform: translateZ(80px) scale(.88)
.layer-3
	transform: translateZ(180px) scale(.8)
.layer-4
	transform: translateZ(190px) scale(.88)
.layer-5
	transform: translateZ(300px) scale(.9)
.layer-6
	transform: translateZ(360px)

.layers-btn
	font-size: calc( $index * .8 )
	text-transform: none
	letter-spacing: 2px
	font-weight: normal
	padding: calc( $index * .5 ) calc( $index * .9 )