.services__top
	display: grid
	grid-template-columns: 1fr 1fr
	gap: 30px
	margin-bottom: 50px

.services__top-imgwrap
	display: grid
	grid-template-columns: 1fr 1fr
	gap: 20px
.services__top-img, .services__bottom-img
	border-radius: 20px
	margin: 0 auto
	text-align: center
	img
		clip: auto

.services__bottom
	display: grid
	grid-template-columns: 40% 60%
	gap: 35px
	.text
		p
			margin-bottom: 15px
			padding-right: 40px