<section id="about" class="about">
	<div class="container">
		<h2 class="section__title">О нас</h2>
		<div class="about__wrap">

		
		<div class="about__text">
			Гостевой дом “АВЕНСА” расположен у подножья горы Черединова в п.Каменномостский Республики Адыгея. Расположение удобное потому что поблизости располагаются известные достопримечательности, такие как Хаджохская теснина, водопады Руфабго и многое другое.

			Наш гостевой дом принимает предпочтительно на  семейный отдых людей, любящих порядок, чистоту и тишину. Гостевой дом окружен пышной зеленью, что помогает создать спокойную атмосферу, идеально подходящую для отдыха вам и вашим близким. 
			
			Во дворе гостевого дома обустроена мангальная зона с беседками, где вы сможете приятно провести время и приготовить для себя вкусный шашлык. 
			
			Мы постоянно совершенствуемся и стараемся сделать ваш отдых максимально комфортным, скоро у вас появится возможность попариться в бане.
		</div>
		<div class="about__img"><img src="img/about-img.jpg" alt="Дом отдыха Авенса"></div>
	</div>
	</div>
</section>