<section id="contacts" class="contacts"> 
	<div class="container">
		<h2 class="section__title">
			Контакты
		</h2>
		<div class="contacts__desc">
			<address>Адрес: р. Адыгея, Майкопский р-н, п. Каменномостский, ул. Крылова, 23, Гостевой дом “АВЕНСА”</address>
			<div class="contacts__desc-phone">Телефон для бронирования: +7 (929) 862-37-25 - Алексей. Звонки принимаются с 9:00 до 22:00.</div>
			<div class="contacts__desc-mail">
				E-mail: avensa18@mail.ru
			</div>
			<div class="contacts__desc-text">
				Добираться в Гостевой дом “АВЕНСА” удобнее всего на автомобиле. При отсутствии личного транспорта проезд от автостанции на автобусе по расписанию. Надо написать как добраться до краснодара, до Минводы на самолете, от Сочи ходит ласточка до Майкопа. От Краснодара ходит автобус до Каменномостского. 
			</div>
			<div class="contacts__desc-text">
				Карта проезда:
			</div>
			<div class="map">
				<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A60ec0a68a7a80cbec1b6911cf885a0f2cd98c7a93c3ddc6e16968e49307a8486&amp;source=constructor" width="100%" height="500" frameborder="0"></iframe>
			</div>
	</div>
</section>