<footer class="footer">
	<div class="container">
		<div class="footer__wrap">
			<div class="footer__logo">
				<img class="footer__logo" src="img/logo-black.svg" alt="Логотип Авенса" />
			</div>
			<div class="footer__info">
				<address>Адрес: р. Адыгея, Майкопский р-н, п. Каменномостский, ул. Крылова, 23, Гостевой дом “АВЕНСА”</address>
				Телефон для бронирования: <a href="tel:+79298623725">+7 (929) 862-37-25</a>
				<br>
				E-mail: <a href="mailto:avensa18@mail.ru">avensa18@mail.ru</a>
			</div>
			<div class="footer__nav">
				<div class="footer__nav-left">
					<a href="#about" class="footer-link">О нас</a>
					<a href="#services" class="footer-link">Услуги</a>
				</div>
				<div class="footer__nav-center">
					<a href="#room" class="footer-link">Номера</a>
					<a href="#gallery1" class="footer-link open-gallery-link">Галерея</a>
				</div>
				<div class="footer__nav-right">
					<a href="#contacts" class="footer-link">Контакты</a>
					<a href="#gid" class="footer-link">Путеводитель</a>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<div class="copyright">
				© Гостевой дом “АВЕНСА”, 2023
			</div>
			<div class="footer-bottom__soc">
				<div class="soc-title">Мы в соц.сетях</div>
				<div class="soc-wrap">
					<ul>
						<li><a href="#" style="background-image: url(img/ok-black.svg);" target="_blank"></a></li>
						<li><a href="#" style="background-image: url(img/instagram-black.svg);" target="_blank"></a></li>
						<li><a href="#" style="background-image: url(img/telegram-black.svg);" target="_blank"></a></li>
						<li><a href="#" style="background-image: url(img/vk-black.svg);" target="_blank"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
