<section id="gid" class="gid">
	<div class="container">
		<h2 class="section__title">
			Путеводитель
		</h2>
		<h4 class="subtitle">Куда поехать и что посмотреть</h4>
		<div class="gid__wrap">
			<div class="gid__wrap-item">
				<div class="gid__item-img">
					<img src="img/gid1.jpg" alt="Достопримечательность Авенсы">
				</div>
				<div class="gid__item-desc">
					<div class="gid__item-titile">
						Плато Лаго-Наки
					</div>
					<div class="gid__item-text">
						Плато располагается на высоте 2000м над уровнем моря и состоит из нескольких горных массивов и хребтов. Добраться можно на машине в любое время года. Здесь открываются прекрасные виды: цветущие луга, реки, пещеры и леса и белоснежные ледники. Плавные линии гор располагают к расслаблению и спокойствию. 
					</div>
				</div>
			</div>
			<div class="gid__wrap-item">
				<div class="gid__item-img">
					<img src="img/gid2.jpg" alt="Достопримечательность Авенсы">
				</div>
				<div class="gid__item-desc">
					<div class="gid__item-titile">
						Хаджохская теснина
					</div>
					<div class="gid__item-text">
						Хаджохской тесниной называют извилистую щель в скалах над рекой Белая. В начале теснины открываются самые живописные места где располагается самое большое количество смотровых площадок. Там же есть зверинец, главный его обитатель - медведь Тимофей.
					</div>
				</div>
			</div>
			<div class="gid__wrap-item">
				<div class="gid__item-img">
					<img src="img/gid3.jpg" alt="Достопримечательность Авенсы">
				</div>
				<div class="gid__item-desc">
					<div class="gid__item-titile">
						Водопады Руфабго
					</div>
					<div class="gid__item-text">
						Водопады Руфабго одна из самых известных и живописных достопримечательностей. Здесь расположен десяток водопадов, такие как: Шнурок, Чаша любви, Каскадный, Девичьи косы, Шум и Сердце Руфабго. Весь маршрут и тропа к водопадом очень красивые. 
					</div>
				</div>
			</div>
			<div class="gid__wrap-item">
				<div class="gid__item-img">
					<img src="img/gid4.jpg" alt="Достопримечательность Авенсы">
				</div>
				<div class="gid__item-desc">
					<div class="gid__item-titile">
						Канатная дорога
					</div>
					<div class="gid__item-text">
						Канатная дорога ведет на хребет Уна-Коз откуда открываются виды на станицу Даховскую и хребет Азиш-Тау. Поднявшись вы можете посетить пещеру Желаний, пещеру Пыльную, пещеру Даховскую, экстим-клуб и скалу Чертов палец. 
					</div>
				</div>
			</div>
			<div class="gid__wrap-item">
				<div class="gid__item-img">
					<img src="img/gid5.jpg" alt="Достопримечательность Авенсы">
				</div>
				<div class="gid__item-desc">
					<div class="gid__item-titile">
						Большая Азишская пещера 
					</div>
					<div class="gid__item-text">
						Пещера состоит из нескольких залов и полностью увешана сталактитами и сталагмитами. В 1973 году пещера получила статус памятника природы. Большая Азишская пещера имеет большое научное, познавательное, экскурсионное и туристическое значение. 
					</div>
				</div>
			</div>
			<div class="gid__wrap-item">
				<div class="gid__item-img">
					<img src="img/gid6.jpg" alt="Достопримечательность Авенсы">
				</div>
				<div class="gid__item-desc">
					<div class="gid__item-titile">
						Экстрим-парк МИШОКО
					</div>
					<div class="gid__item-text">
						На окраине Каменномостского в ущелье Мишоко располагается экстрим-парк. В экстрим-парке есть три троллея, две виа ферраты, роуджампинг, дюльфер, походная баня, веревочная площадка, конные прогулки, поездки на квадроциклах и УАЗах. 
						Представлена обширная экскурсионная программа. 
					</div>
				</div>
			</div>
			<div class="gid__wrap-item">
				<div class="gid__item-img">
					<img src="img/gid7.jpg" alt="Достопримечательность Авенсы">
				</div>
				<div class="gid__item-desc">
					<div class="gid__item-titile">
						Свято-Михайловский Афонский мужской монастырь
					</div>
					<div class="gid__item-text">
						На территории монастыря расположены несколько храмов, склеп Архимандрита Мартирия. Стоит прогуляться в сторону горы Физиабго, посетить пещеры,  подняться на вершину горы и выпить воды из святого источника. С вершины горы открываются прекрасные виды на окрестности.
					</div>
				</div>
			</div>
			<div class="gid__wrap-item">
				<div class="gid__item-img">
					<img src="img/gid8.jpg" alt="Достопримечательность Авенсы">
				</div>
				<div class="gid__item-desc">
					<div class="gid__item-titile">
						Гузерипль
					</div>
					<div class="gid__item-text">
						Поселок Гузерипль - один из самых высокогорных населенных пунктов в Адыгее. Горы, леса, реки, чистейший воздух и заповедная природа. Здесь и Кавказский Биосферный заповедник, и самый крупный и хорошо сохранившийся дольмен в Адыгее, ему около 4 тыс.лет, и  музей Кавказского заповедника, и  вольеры в различными животными: волки, олени, еноты. 
					</div>
				</div>
			</div>
		</div>
	</div>
</section>