<header class="header">
  <div class="container">
    <div class="header-wrap">
      @@include("nav-menu.html")
      <div class="header__center">
        <div class="header__center-logo">
          <img src="img/logo-center.svg" alt="Гостевой дом АВЕНСА" />
        </div>
        <div class="header__center-info">
          <div class="header__center-title">
            <h1>Гостевой дом “АВЕНСА”</h1>
          </div>
          <div class="header__center-phone">
            звоните:
            <a href="tel:+79298623725" target="_blank">+7 (929) 862-37-25</a>
          </div>
        </div>
      </div>

      <div class="header__bottom">
        <div class="header__bottom-info">
          <h2 class="header__bottom-info-title">Гостевой дом “Авенса”</h2>
          <address>
            Адрес: р. Адыгея, Майкопский р-н,п. Каменномостский, ул. Крылова 23
          </address>
          <div class="header__bottom-contacts">
            <a href="tel:+79298623725">Телефон: +7 (929) 862-37-25</a>
            <a href="mailto:avensa18@mail.ru">E-mail: avensa18@mail.ru</a>
          </div>
        </div>
        <div class="header__bottom-btn">
          <batton class="heder_btn btn">задать вопрос </batton>
        </div>
        <div class="header__bottom-social">
          <h2 class="header__bottom-social-title">Мы в соц.сетях:</h2>
          <div class="header__bottom-social-wrap">
            <a href="#" class="header__bottom-social-item">
              <img src="img/vk.svg" alt="ВКонтакте" />
            </a>
            <a href="#" class="header__bottom-social-item">
              <img src="img/instagram.svg" alt="Инстаграм" />
            </a>
            <a href="#" class="header__bottom-social-item">
              <img src="img/ok.svg" alt="Одноклассники" />
            </a>
            <a href="#" class="header__bottom-social-item">
              <img src="img/telegram.svg" alt="Телеграм" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
