<header class="header" style="background-image: url(img/header-bg.webp);">
	<div class="overlay"></div>
	<div class="container">
		<div class="header__wrap" id="header__wrap">
			<div class="container">
  			<div class="header__nav">
					<div class="header__logo">
						<img class="logo-white" src="img/logo-white.svg" alt="Логотип Авенса" />
						<img class="logo-black" src="img/logo-black.svg" alt="Логотип Авенса" />
					</div>
					<nav class="header__menu">
						<ul>
							<li class="header__menu-item">
								<a href="#about" class="header__menu-link">О нас</a>
							</li>
							<li class="header__menu-item">
								<a href="#room" class="header__menu-link">Номера</a>
							</li>
							<li class="header__menu-item">
								<a href="#services" class="header__menu-link">Услуги</a>
							</li>
							<li class="header__menu-item">
								<a href="#gid" class="header__menu-link">Путеводитель</a>
							</li>
							<li class="header__menu-item">
								<a href="#contacts" class="header__menu-link">Контакты</a>
							</li>
						</ul>
					</nav>
					<div class="header__phone">
						<div class="bg-phone animate__animated animate__heartBeat animate__infinite">
							<img class="phone-white" src="img/phone.svg" alt="" />
							<img class="phone-black" src="img/phone-black.svg" alt="" />
						</div>
						<a href="tel:+79298623725">+7 (929)-862-37-25</a>
					</div>
    			<div id="toggle" class="toggle"></div>
  			</div>
			</div>
		</div>
	</div>
	<div class="container">
		<h1 class="hidden">
			Гостевой дом Авенса Адыгея 
		</h1>
		<p class="header__slogan">
			“Для любящих порядок, чистоту и тишину”
		</p>
		<div class="header__bottom">
			<div class="bottom__gallery">
				<div class="gallery-title">Галерея</div>
				<a href="#gallery1" class="open-gallery-link">
					<div class="gallery-button-img animate__animated animate__heartBeat animate__infinite">
						<img src="img/gallery.webp" alt="Галерея Авенса">
					</div>
					<div class="gallery-button">
					</div>
				</a>
			</div>
			<div class="bottom__soc">
				<div class="soc-title">Мы в соц.сетях</div>
				<div class="soc-wrap">
					<ul>
						<li><a href="https://ok.ru/profile/575737327058?utm_campaign=android_share&utm_content=profile" style="background-image: url(img/ok.svg);" target="_blank"></a></li>
						<li><a href="https://instagram.com/avensa18?igshid=MjEwN2IyYWYwYw==" style="background-image: url(img/instagram.svg);" target="_blank"></a></li>
						<li><a href="https://t.me/Avensa_house" style="background-image: url(img/telegram.svg);" target="_blank"></a></li>
						<li><a href="https://vk.com/avensa" style="background-image: url(img/vk.svg);" target="_blank"></a></li>
					</ul>
				</div>
			</div>
		</div> 
		
	</div>

	<div id="gallery1" class="mfp-hide">
		<div class="slide">
			<img src="img/forest1.webp" alt="foto1">
		</div>
		<div class="slide">
			<img src="img/forest2.webp" alt="foto1">
		</div>
		<div class="slide">
			<img src="img/forest3.webp" alt="foto1">
		</div>
		<div class="slide">
			<video muted autoplay controls >
				<source src="img/video_optimized.mp4" type="video/mp4">

			</video>
		</div>
		<div class="slide">
			<img src="img/forest4.webp" alt="foto1">
		</div>
		<div class="slide">
			<img src="img/forest5.webp" alt="foto1">
		</div>
		
		
	</div>
	
</header>
