<div class="header__wrap" id="header__wrap">
	<div class="container">
  <div class="header__nav">
    <div class="header__logo">
      <img class="logo-white" src="img/logo-white.svg" alt="Логотип Авенса" />
      <img class="logo-black" src="img/logo-black.svg" alt="Логотип Авенса" />
    </div>
    <nav class="header__menu">
      <ul>
        <li class="header__menu-item active">
          <a href="#" class="header__menu-link">О нас</a>
        </li>
        <li class="header__menu-item">
          <a href="#" class="header__menu-link">Номера</a>
        </li>
        <li class="header__menu-item">
          <a href="#" class="header__menu-link">Услуги</a>
        </li>
        <li class="header__menu-item">
          <a href="#" class="header__menu-link">Путеводитель</a>
        </li>
        <li class="header__menu-item">
          <a href="#" class="header__menu-link">Контакты</a>
        </li>
      </ul>
    </nav>
    <div class="header__phone">
      <div class="bg-phone">
        <img class="phone-white" src="img/phone.svg" alt="" />
        <img class="phone-black" src="img/phone-black.svg" alt="" />
      </div>
      <a href="tel:+79298623725">+7 (929)-862-37-25</a>
    </div>
    <div class="toggle"></div>
  </div>
</div>
</div>
