<section id="room" class="room">
	<div class="container">
		<h2 class="section__title">Мы предлагаем следующие варианты размещения </h2>
		<div class="room__wrap">
			<a href="#room8" class="room__item">
				<div class="room__item-img">
					<img src="img/room8.jpg" alt="Авенса комнаты">
				</div>
				<div class="room__item-title">
					<h3>Двухместный номер</h3>
					<p>2 этаж</p>
				</div>
				<div class="room__item-price">
					<p>2500 руб/<span>сутки</span></p>
				</div>

				<div id="room8" class="room__card mfp-hide">
					<h3 class="room__card-title">Двухместный номер комфорт (2 этаж)</h3>
					<div class="room__card-wrap">
						<img src="img/room1.jpg" alt="Комната Авенса">
						<img src="img/room2.jpg" alt="Комната Авенса">
						<img src="img/room3.jpg" alt="Комната Авенса">
						<img src="img/room4.jpg" alt="Комната Авенса">
						<img src="img/room5.jpg" alt="Комната Авенса">
						<img src="img/room6.jpg" alt="Комната Авенса">
						<img src="img/room7.jpg" alt="Комната Авенса">
					</div>
				</div>
			</a>
			<a href="#room4" class="room__item">
				<div class="room__item-img">
					<img src="img/room4.jpg" alt="Авенса комнаты">
				</div>
				<div class="room__item-title">
					<h3>Двухместный номер</h3>
					<p>45 этаж</p>
				</div>
				<div class="room__item-price">
					<p>500 руб/<span>сутки</span></p>
				</div>

				<div id="room4" class="room__card mfp-hide">
					<h3 class="room__card-title">Двухместный номер комфорт (2 этаж)</h3>
					<div class="room__card-wrap">
						<img src="img/room1.jpg" alt="Комната Авенса">
						<img src="img/room2.jpg" alt="Комната Авенса">
						<img src="img/room3.jpg" alt="Комната Авенса">
						<img src="img/room4.jpg" alt="Комната Авенса">
						<img src="img/room5.jpg" alt="Комната Авенса">
						<img src="img/room6.jpg" alt="Комната Авенса">
						<img src="img/room7.jpg" alt="Комната Авенса">
					</div>
				</div>
			</a>
			<a href="#room1" class="room__item">
				<div class="room__item-img">
					<img src="img/room1.jpg" alt="Авенса комнаты">
				</div>
				<div class="room__item-title">
					<h3>Двухместный номер</h3>
					<p>2 этаж</p>
				</div>
				<div class="room__item-price">
					<p>2500 руб/<span>сутки</span></p>
				</div>

				<div id="room1" class="room__card mfp-hide">
					<h3 class="room__card-title">Двухместный номер комфорт (2 этаж)</h3>
					<div class="room__card-wrap">
						<img src="img/room1.jpg" alt="Комната Авенса">
						<img src="img/room2.jpg" alt="Комната Авенса">
						<img src="img/room3.jpg" alt="Комната Авенса">
						<img src="img/room4.jpg" alt="Комната Авенса">
						<img src="img/room5.jpg" alt="Комната Авенса">
						<img src="img/room6.jpg" alt="Комната Авенса">
						<img src="img/room7.jpg" alt="Комната Авенса">
					</div>
				</div>
			</a>
			<a href="#room2" class="room__item">
				<div class="room__item-img">
					<img src="img/room2.jpg" alt="Авенса комнаты">
				</div>
				<div class="room__item-title">
					<h3>Двухместный номер</h3>
					<p>2 этаж</p>
				</div>
				<div class="room__item-price">
					<p>45000 руб/<span>сутки</span></p>
				</div>

				<div id="room2" class="room__card mfp-hide">
					<h3 class="room__card-title">Двухместный номер комфорт (2 этаж)</h3>
					<div class="room__card-wrap">
						<img src="img/room1.jpg" alt="Комната Авенса">
						<img src="img/room2.jpg" alt="Комната Авенса">
						<img src="img/room3.jpg" alt="Комната Авенса">
						<img src="img/room4.jpg" alt="Комната Авенса">
						<img src="img/room5.jpg" alt="Комната Авенса">
						<img src="img/room6.jpg" alt="Комната Авенса">
						<img src="img/room7.jpg" alt="Комната Авенса">
					</div>
				</div>
			</a>
			<a href="#room3" class="room__item">
				<div class="room__item-img">
					<img src="img/room3.jpg" alt="Авенса комнаты">
				</div>
				<div class="room__item-title">
					<h3>Двухместный номер</h3>
					<p>2 этаж</p>
				</div>
				<div class="room__item-price">
					<p>200 руб/<span>сутки</span></p>
				</div>

				<div id="room3" class="room__card mfp-hide">
					<h3 class="room__card-title">Двухместный номер комфорт (2 этаж)</h3>
					<div class="room__card-wrap">
						<img src="img/room1.jpg" alt="Комната Авенса">
						<img src="img/room2.jpg" alt="Комната Авенса">
						<img src="img/room3.jpg" alt="Комната Авенса">
						<img src="img/room4.jpg" alt="Комната Авенса">
						<img src="img/room5.jpg" alt="Комната Авенса">
						<img src="img/room6.jpg" alt="Комната Авенса">
						<img src="img/room7.jpg" alt="Комната Авенса">
					</div>
				</div>
			</a>
			<a href="#room4" class="room__item">
				<div class="room__item-img">
					<img src="img/room4.jpg" alt="Авенса комнаты">
				</div>
				<div class="room__item-title">
					<h3>Двухместный номер</h3>
					<p>2 этаж</p>
				</div>
				<div class="room__item-price">
					<p>7000 руб/<span>сутки</span></p>
				</div>

				<div id="room4" class="room__card mfp-hide">
					<h3 class="room__card-title">Двухместный номер комфорт (2 этаж)</h3>
					<div class="room__card-wrap">
						<img src="img/room1.jpg" alt="Комната Авенса">
						<img src="img/room2.jpg" alt="Комната Авенса">
						<img src="img/room3.jpg" alt="Комната Авенса">
						<img src="img/room4.jpg" alt="Комната Авенса">
						<img src="img/room5.jpg" alt="Комната Авенса">
						<img src="img/room6.jpg" alt="Комната Авенса">
						<img src="img/room7.jpg" alt="Комната Авенса">
					</div>
				</div>
			</a>
			<a href="#room5" class="room__item">
				<div class="room__item-img">
					<img src="img/room5.jpg" alt="Авенса комнаты">
				</div>
				<div class="room__item-title">
					<h3>Двухместный номер</h3>
					<p>2 этаж</p>
				</div>
				<div class="room__item-price">
					<p>3500 руб/<span>сутки</span></p>
				</div>

				<div id="room5" class="room__card mfp-hide">
					<h3 class="room__card-title">Двухместный номер комфорт (2 этаж)</h3>
					<div class="room__card-wrap">
						<img src="img/room1.jpg" alt="Комната Авенса">
						<img src="img/room2.jpg" alt="Комната Авенса">
						<img src="img/room3.jpg" alt="Комната Авенса">
						<img src="img/room4.jpg" alt="Комната Авенса">
						<img src="img/room5.jpg" alt="Комната Авенса">
						<img src="img/room6.jpg" alt="Комната Авенса">
						<img src="img/room7.jpg" alt="Комната Авенса">
					</div>
				</div>
			</a>
			<a href="#room6" class="room__item">
				<div class="room__item-img">
					<img src="img/room6.jpg" alt="Авенса комнаты">
				</div>
				<div class="room__item-title">
					<h3>Двухместный номер</h3>
					<p>2 этаж</p>
				</div>
				<div class="room__item-price">
					<p>1500 руб/<span>сутки</span></p>
				</div>

				<div id="room6" class="room__card mfp-hide">
					<h3 class="room__card-title">Двухместный номер комфорт (2 этаж)</h3>
					<div class="room__card-wrap">
						<img src="img/room1.jpg" alt="Комната Авенса">
						<img src="img/room2.jpg" alt="Комната Авенса">
						<img src="img/room3.jpg" alt="Комната Авенса">
						<img src="img/room4.jpg" alt="Комната Авенса">
						<img src="img/room5.jpg" alt="Комната Авенса">
						<img src="img/room6.jpg" alt="Комната Авенса">
						<img src="img/room7.jpg" alt="Комната Авенса">
					</div>
				</div>
			</a>


		</div>
	</div>
</section>