<section id="room" class="room">
	<div class="container">
		<h2 class="section__title">Мы предлагаем следующие варианты размещения </h2>
		<div class="room__wrap">
			<a href="#room8" class="room__item">
				<div class="room__item-img">
					<img src="img/room8.jpg" alt="Авенса комнаты">
				</div>
				<div class="room__item-title">
					<h3>Двухместный номер</h3>
					<p>2 этаж</p>
				</div>
				<div class="room__item-price">
					<p>2500 руб/<span>сутки</span></p>
				</div>

				<div id="room8" class="room__card mfp-hide">
					<h3 class="room__card-title">Двухместный номер комфорт (2 этаж)</h3>
					<div class="room__card-wrap">
						<div class="room__main-slider">
							<img src="img/room1.jpg" alt="Комната Авенса">
							<img src="img/room2.jpg" alt="Комната Авенса">
							<img src="img/room3.jpg" alt="Комната Авенса">
							<img src="img/room4.jpg" alt="Комната Авенса">
							<img src="img/room5.jpg" alt="Комната Авенса">
							<img src="img/room6.jpg" alt="Комната Авенса">
							<img src="img/room7.jpg" alt="Комната Авенса">
						</div>
						<div class="room__nav-slider">
							<img src="img/room1.jpg" alt="Комната Авенса">
							<img src="img/room2.jpg" alt="Комната Авенса">
							<img src="img/room3.jpg" alt="Комната Авенса">
							<img src="img/room4.jpg" alt="Комната Авенса">
							<img src="img/room5.jpg" alt="Комната Авенса">
							<img src="img/room6.jpg" alt="Комната Авенса">
							<img src="img/room7.jpg" alt="Комната Авенса">
						</div>
						<div class="room__props">
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon1.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">S номера - 20 м2</div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon2.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Сплит-система </div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon3.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Бесплатный Wi-Fi</div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon4.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Собственная ванная комната</div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon5.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Телевизор с плоским экраном</div>
							</div>
						</div>
						<div class="room__descrp">
							<p class="room__descrp-price">Стоимость  проживания - 2500 руб/сутки. Минимальный срок бронирования - от 2х суток. </p>
							<p class="room__descrp-price">Уютный двухместный номер площадью 20м2. В номере 2-х спальная кровать с прикроватными тумбочками, телевизор с плоским экраном, холодильник. Сплит-система. Стол, стулья. Поднос с минеральной водой. При входе в номер  есть вешалка для верхней одежды и обувная полка. 
								В собственной ванной комнате: душевая, раковина с зеркалом, туалет, туалетные принадлежности (мыло, туалетная бумага, тапочки, полотенца), фен.
								По всей территории гостевого дома есть бесплатный Wi-Fi.
								Общий холл с кулером, гладильной доской, сушилкой для белья, журнальный столик с полезной информацией, пуфы.
								Сервис: смена белья в номерах раз в пять дней, смена полотенец и уборка в номерах по запросу.</p>

						</div>
					</div>
				</div>
			</a>
			<a href="#room4" class="room__item">
				<div class="room__item-img">
					<img src="img/room4.jpg" alt="Авенса комнаты">
				</div>
				<div class="room__item-title">
					<h3>Двухместный номер</h3>
					<p>45 этаж</p>
				</div>
				<div class="room__item-price">
					<p>500 руб/<span>сутки</span></p>
				</div>

				<div id="room4" class="room__card mfp-hide">
					<h3 class="room__card-title">Двухместный номер комфорт (2 этаж)</h3>
					<div class="room__card-wrap">
						<div class="room__main-slider">
							<img src="img/room1.jpg" alt="Комната Авенса">
							<img src="img/room2.jpg" alt="Комната Авенса">
							<img src="img/room3.jpg" alt="Комната Авенса">
							<img src="img/room4.jpg" alt="Комната Авенса">
							<img src="img/room5.jpg" alt="Комната Авенса">
							<img src="img/room6.jpg" alt="Комната Авенса">
							<img src="img/room7.jpg" alt="Комната Авенса">
						</div>
						<div class="room__nav-slider">
							<img src="img/room1.jpg" alt="Комната Авенса">
							<img src="img/room2.jpg" alt="Комната Авенса">
							<img src="img/room3.jpg" alt="Комната Авенса">
							<img src="img/room4.jpg" alt="Комната Авенса">
							<img src="img/room5.jpg" alt="Комната Авенса">
							<img src="img/room6.jpg" alt="Комната Авенса">
							<img src="img/room7.jpg" alt="Комната Авенса">
						</div>
						<div class="room__props">
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon1.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">S номера - 20 м2</div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon2.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Сплит-система </div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon3.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Бесплатный Wi-Fi</div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon4.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Собственная ванная комната</div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon5.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Телевизор с плоским экраном</div>
							</div>
						</div>
						<div class="room__descrp">
							<p class="room__descrp-price">Стоимость  проживания - 2500 руб/сутки. Минимальный срок бронирования - от 2х суток. </p>
							<p class="room__descrp-price">Уютный двухместный номер площадью 20м2. В номере 2-х спальная кровать с прикроватными тумбочками, телевизор с плоским экраном, холодильник. Сплит-система. Стол, стулья. Поднос с минеральной водой. При входе в номер  есть вешалка для верхней одежды и обувная полка. 
								В собственной ванной комнате: душевая, раковина с зеркалом, туалет, туалетные принадлежности (мыло, туалетная бумага, тапочки, полотенца), фен.
								По всей территории гостевого дома есть бесплатный Wi-Fi.
								Общий холл с кулером, гладильной доской, сушилкой для белья, журнальный столик с полезной информацией, пуфы.
								Сервис: смена белья в номерах раз в пять дней, смена полотенец и уборка в номерах по запросу.</p>

						</div>
					</div>
				</div>
			</a>
			<a href="#room1" class="room__item">
				<div class="room__item-img">
					<img src="img/room1.jpg" alt="Авенса комнаты">
				</div>
				<div class="room__item-title">
					<h3>Двухместный номер</h3>
					<p>2 этаж</p>
				</div>
				<div class="room__item-price">
					<p>2500 руб/<span>сутки</span></p>
				</div>

				<div id="room1" class="room__card mfp-hide">
					<h3 class="room__card-title">Двухместный номер комфорт (2 этаж)</h3>
					<div class="room__card-wrap">
						<div class="room__main-slider">
							<img src="img/room1.jpg" alt="Комната Авенса">
							<img src="img/room2.jpg" alt="Комната Авенса">
							<img src="img/room3.jpg" alt="Комната Авенса">
							<img src="img/room4.jpg" alt="Комната Авенса">
							<img src="img/room5.jpg" alt="Комната Авенса">
							<img src="img/room6.jpg" alt="Комната Авенса">
							<img src="img/room7.jpg" alt="Комната Авенса">
						</div>
						<div class="room__nav-slider">
							<img src="img/room1.jpg" alt="Комната Авенса">
							<img src="img/room2.jpg" alt="Комната Авенса">
							<img src="img/room3.jpg" alt="Комната Авенса">
							<img src="img/room4.jpg" alt="Комната Авенса">
							<img src="img/room5.jpg" alt="Комната Авенса">
							<img src="img/room6.jpg" alt="Комната Авенса">
							<img src="img/room7.jpg" alt="Комната Авенса">
						</div>
						<div class="room__props">
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon1.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">S номера - 20 м2</div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon2.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Сплит-система </div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon3.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Бесплатный Wi-Fi</div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon4.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Собственная ванная комната</div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon5.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Телевизор с плоским экраном</div>
							</div>
						</div>
						<div class="room__descrp">
							<p class="room__descrp-price">Стоимость  проживания - 2500 руб/сутки. Минимальный срок бронирования - от 2х суток. </p>
							<p class="room__descrp-price">Уютный двухместный номер площадью 20м2. В номере 2-х спальная кровать с прикроватными тумбочками, телевизор с плоским экраном, холодильник. Сплит-система. Стол, стулья. Поднос с минеральной водой. При входе в номер  есть вешалка для верхней одежды и обувная полка. 
								В собственной ванной комнате: душевая, раковина с зеркалом, туалет, туалетные принадлежности (мыло, туалетная бумага, тапочки, полотенца), фен.
								По всей территории гостевого дома есть бесплатный Wi-Fi.
								Общий холл с кулером, гладильной доской, сушилкой для белья, журнальный столик с полезной информацией, пуфы.
								Сервис: смена белья в номерах раз в пять дней, смена полотенец и уборка в номерах по запросу.</p>

						</div>
					</div>
				</div>
			</a>
			<a href="#room2" class="room__item">
				<div class="room__item-img">
					<img src="img/room2.jpg" alt="Авенса комнаты">
				</div>
				<div class="room__item-title">
					<h3>Двухместный номер</h3>
					<p>2 этаж</p>
				</div>
				<div class="room__item-price">
					<p>45000 руб/<span>сутки</span></p>
				</div>

				<div id="room2" class="room__card mfp-hide">
					<h3 class="room__card-title">Двухместный номер комфорт (2 этаж)</h3>
					<div class="room__card-wrap">
						<div class="room__main-slider">
							<img src="img/room1.jpg" alt="Комната Авенса">
							<img src="img/room2.jpg" alt="Комната Авенса">
							<img src="img/room3.jpg" alt="Комната Авенса">
							<img src="img/room4.jpg" alt="Комната Авенса">
							<img src="img/room5.jpg" alt="Комната Авенса">
							<img src="img/room6.jpg" alt="Комната Авенса">
							<img src="img/room7.jpg" alt="Комната Авенса">
						</div>
						<div class="room__nav-slider">
							<img src="img/room1.jpg" alt="Комната Авенса">
							<img src="img/room2.jpg" alt="Комната Авенса">
							<img src="img/room3.jpg" alt="Комната Авенса">
							<img src="img/room4.jpg" alt="Комната Авенса">
							<img src="img/room5.jpg" alt="Комната Авенса">
							<img src="img/room6.jpg" alt="Комната Авенса">
							<img src="img/room7.jpg" alt="Комната Авенса">
						</div>
						<div class="room__props">
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon1.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">S номера - 20 м2</div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon2.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Сплит-система </div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon3.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Бесплатный Wi-Fi</div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon4.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Собственная ванная комната</div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon5.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Телевизор с плоским экраном</div>
							</div>
						</div>
						<div class="room__descrp">
							<p class="room__descrp-price">Стоимость  проживания - 2500 руб/сутки. Минимальный срок бронирования - от 2х суток. </p>
							<p class="room__descrp-price">Уютный двухместный номер площадью 20м2. В номере 2-х спальная кровать с прикроватными тумбочками, телевизор с плоским экраном, холодильник. Сплит-система. Стол, стулья. Поднос с минеральной водой. При входе в номер  есть вешалка для верхней одежды и обувная полка. 
								В собственной ванной комнате: душевая, раковина с зеркалом, туалет, туалетные принадлежности (мыло, туалетная бумага, тапочки, полотенца), фен.
								По всей территории гостевого дома есть бесплатный Wi-Fi.
								Общий холл с кулером, гладильной доской, сушилкой для белья, журнальный столик с полезной информацией, пуфы.
								Сервис: смена белья в номерах раз в пять дней, смена полотенец и уборка в номерах по запросу.</p>

						</div>
					</div>
				</div>
			</a>
			<a href="#room3" class="room__item">
				<div class="room__item-img">
					<img src="img/room3.jpg" alt="Авенса комнаты">
				</div>
				<div class="room__item-title">
					<h3>Двухместный номер</h3>
					<p>2 этаж</p>
				</div>
				<div class="room__item-price">
					<p>200 руб/<span>сутки</span></p>
				</div>

				<div id="room3" class="room__card mfp-hide">
					<h3 class="room__card-title">Двухместный номер комфорт (2 этаж)</h3>
					<div class="room__card-wrap">
						<div class="room__main-slider">
							<img src="img/room1.jpg" alt="Комната Авенса">
							<img src="img/room2.jpg" alt="Комната Авенса">
							<img src="img/room3.jpg" alt="Комната Авенса">
							<img src="img/room4.jpg" alt="Комната Авенса">
							<img src="img/room5.jpg" alt="Комната Авенса">
							<img src="img/room6.jpg" alt="Комната Авенса">
							<img src="img/room7.jpg" alt="Комната Авенса">
						</div>
						<div class="room__nav-slider">
							<img src="img/room1.jpg" alt="Комната Авенса">
							<img src="img/room2.jpg" alt="Комната Авенса">
							<img src="img/room3.jpg" alt="Комната Авенса">
							<img src="img/room4.jpg" alt="Комната Авенса">
							<img src="img/room5.jpg" alt="Комната Авенса">
							<img src="img/room6.jpg" alt="Комната Авенса">
							<img src="img/room7.jpg" alt="Комната Авенса">
						</div>
						<div class="room__props">
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon1.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">S номера - 20 м2</div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon2.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Сплит-система </div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon3.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Бесплатный Wi-Fi</div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon4.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Собственная ванная комната</div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon5.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Телевизор с плоским экраном</div>
							</div>
						</div>
						<div class="room__descrp">
							<p class="room__descrp-price">Стоимость  проживания - 2500 руб/сутки. Минимальный срок бронирования - от 2х суток. </p>
							<p class="room__descrp-price">Уютный двухместный номер площадью 20м2. В номере 2-х спальная кровать с прикроватными тумбочками, телевизор с плоским экраном, холодильник. Сплит-система. Стол, стулья. Поднос с минеральной водой. При входе в номер  есть вешалка для верхней одежды и обувная полка. 
								В собственной ванной комнате: душевая, раковина с зеркалом, туалет, туалетные принадлежности (мыло, туалетная бумага, тапочки, полотенца), фен.
								По всей территории гостевого дома есть бесплатный Wi-Fi.
								Общий холл с кулером, гладильной доской, сушилкой для белья, журнальный столик с полезной информацией, пуфы.
								Сервис: смена белья в номерах раз в пять дней, смена полотенец и уборка в номерах по запросу.</p>

						</div>
					</div>
				</div>
			</a>
			<!-- <a href="#room4" class="room__item">
				<div class="room__item-img">
					<img src="img/room4.jpg" alt="Авенса комнаты">
				</div>
				<div class="room__item-title">
					<h3>Двухместный номер</h3>
					<p>2 этаж</p>
				</div>
				<div class="room__item-price">
					<p>7000 руб/<span>сутки</span></p>
				</div>

				<div id="room4" class="room__card mfp-hide">
					<h3 class="room__card-title">Двухместный номер комфорт (2 этаж)</h3>
					<div class="room__card-wrap">
						<div class="room__main-slider">
							<img src="img/room1.jpg" alt="Комната Авенса">
							<img src="img/room2.jpg" alt="Комната Авенса">
							<img src="img/room3.jpg" alt="Комната Авенса">
							<img src="img/room4.jpg" alt="Комната Авенса">
							<img src="img/room5.jpg" alt="Комната Авенса">
							<img src="img/room6.jpg" alt="Комната Авенса">
							<img src="img/room7.jpg" alt="Комната Авенса">
						</div>
						<div class="room__nav-slider">
							<img src="img/room1.jpg" alt="Комната Авенса">
							<img src="img/room2.jpg" alt="Комната Авенса">
							<img src="img/room3.jpg" alt="Комната Авенса">
							<img src="img/room4.jpg" alt="Комната Авенса">
							<img src="img/room5.jpg" alt="Комната Авенса">
							<img src="img/room6.jpg" alt="Комната Авенса">
							<img src="img/room7.jpg" alt="Комната Авенса">
						</div>
					</div>
				</div>
			</a> -->
			<a href="#room5" class="room__item">
				<div class="room__item-img">
					<img src="img/room5.jpg" alt="Авенса комнаты">
				</div>
				<div class="room__item-title">
					<h3>Двухместный номер</h3>
					<p>2 этаж</p>
				</div>
				<div class="room__item-price">
					<p>3500 руб/<span>сутки</span></p>
				</div>

				<div id="room5" class="room__card mfp-hide">
					<h3 class="room__card-title">Двухместный номер комфорт (2 этаж)</h3>
					<div class="room__card-wrap">
						<div class="room__main-slider">
							<img src="img/room1.jpg" alt="Комната Авенса">
							<img src="img/room2.jpg" alt="Комната Авенса">
							<img src="img/room3.jpg" alt="Комната Авенса">
							<img src="img/room4.jpg" alt="Комната Авенса">
							<img src="img/room5.jpg" alt="Комната Авенса">
							<img src="img/room6.jpg" alt="Комната Авенса">
							<img src="img/room7.jpg" alt="Комната Авенса">
						</div>
						<div class="room__nav-slider">
							<img src="img/room1.jpg" alt="Комната Авенса">
							<img src="img/room2.jpg" alt="Комната Авенса">
							<img src="img/room3.jpg" alt="Комната Авенса">
							<img src="img/room4.jpg" alt="Комната Авенса">
							<img src="img/room5.jpg" alt="Комната Авенса">
							<img src="img/room6.jpg" alt="Комната Авенса">
							<img src="img/room7.jpg" alt="Комната Авенса">
						</div>
						<div class="room__props">
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon1.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">S номера - 20 м2</div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon2.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Сплит-система </div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon3.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Бесплатный Wi-Fi</div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon4.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Собственная ванная комната</div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon5.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Телевизор с плоским экраном</div>
							</div>
						</div>
						<div class="room__descrp">
							<p class="room__descrp-price">Стоимость  проживания - 2500 руб/сутки. Минимальный срок бронирования - от 2х суток. </p>
							<p class="room__descrp-price">Уютный двухместный номер площадью 20м2. В номере 2-х спальная кровать с прикроватными тумбочками, телевизор с плоским экраном, холодильник. Сплит-система. Стол, стулья. Поднос с минеральной водой. При входе в номер  есть вешалка для верхней одежды и обувная полка. 
								В собственной ванной комнате: душевая, раковина с зеркалом, туалет, туалетные принадлежности (мыло, туалетная бумага, тапочки, полотенца), фен.
								По всей территории гостевого дома есть бесплатный Wi-Fi.
								Общий холл с кулером, гладильной доской, сушилкой для белья, журнальный столик с полезной информацией, пуфы.
								Сервис: смена белья в номерах раз в пять дней, смена полотенец и уборка в номерах по запросу.</p>

						</div>
					</div>
				</div>
			</a>
			<a href="#room6" class="room__item">
				<div class="room__item-img">
					<img src="img/room6.jpg" alt="Авенса комнаты">
				</div>
				<div class="room__item-title">
					<h3>Двухместный номер</h3>
					<p>2 этаж</p>
				</div>
				<div class="room__item-price">
					<p>1500 руб/<span>сутки</span></p>
				</div>

				<div id="room6" class="room__card mfp-hide">
					<h3 class="room__card-title">Двухместный номер комфорт (2 этаж)</h3>
					<div class="room__card-wrap">
						<div class="room__main-slider">
							<img src="img/room1.jpg" alt="Комната Авенса">
							<img src="img/room2.jpg" alt="Комната Авенса">
							<img src="img/room3.jpg" alt="Комната Авенса">
							<img src="img/room4.jpg" alt="Комната Авенса">
							<img src="img/room5.jpg" alt="Комната Авенса">
							<img src="img/room6.jpg" alt="Комната Авенса">
							<img src="img/room7.jpg" alt="Комната Авенса">
						</div>
						<div class="room__nav-slider">
							<img src="img/room1.jpg" alt="Комната Авенса">
							<img src="img/room2.jpg" alt="Комната Авенса">
							<img src="img/room3.jpg" alt="Комната Авенса">
							<img src="img/room4.jpg" alt="Комната Авенса">
							<img src="img/room5.jpg" alt="Комната Авенса">
							<img src="img/room6.jpg" alt="Комната Авенса">
							<img src="img/room7.jpg" alt="Комната Авенса">
						</div>
						<div class="room__props">
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon1.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">S номера - 20 м2</div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon2.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Сплит-система </div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon3.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Бесплатный Wi-Fi</div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon4.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Собственная ванная комната</div>
							</div>
							<div class="props__item">
								<div class="props__item-img">
									<img src="img/prop-icon5.svg" alt="Иконка Авенса">
								</div>
								<div class="props__item-title">Телевизор с плоским экраном</div>
							</div>
						</div>
						<div class="room__descrp">
							<p class="room__descrp-price">Стоимость  проживания - 2500 руб/сутки. Минимальный срок бронирования - от 2х суток. </p>
							<p class="room__descrp-price">Уютный двухместный номер площадью 20м2. В номере 2-х спальная кровать с прикроватными тумбочками, телевизор с плоским экраном, холодильник. Сплит-система. Стол, стулья. Поднос с минеральной водой. При входе в номер  есть вешалка для верхней одежды и обувная полка. 
								В собственной ванной комнате: душевая, раковина с зеркалом, туалет, туалетные принадлежности (мыло, туалетная бумага, тапочки, полотенца), фен.
								По всей территории гостевого дома есть бесплатный Wi-Fi.
								Общий холл с кулером, гладильной доской, сушилкой для белья, журнальный столик с полезной информацией, пуфы.
								Сервис: смена белья в номерах раз в пять дней, смена полотенец и уборка в номерах по запросу.</p>

						</div>
					</div>
				</div>
			</a>


		</div>
	</div>
</section>