<section id="services" class="services"> 
	<div class="container">
		<h2 class="section__title">Услуги и правила проживания</h2>
		<div class="services__top">
			<div class="text">
				У нас есть кухня на которой вы можете самостоятельно готовить для себя и своей семьи. На кухне есть полный набор посуды и столовых приборов, плита, СВЧ-печь, холодильник, стиральная машина. 
				В обеденной зоне расположены 5 столов со стульями, кулер с питьевой водой, телевизор, музыкальный центр.
			</div>
			<div class="services__top-imgwrap">
				<div class="services__top-img">
					<img src="img/services1.jpg" alt="Гостевой дом “АВЕНСА”">
				</div>
				<div class="services__top-img">
					<img src="img/services2.jpg" alt="Гостевой дом “АВЕНСА”">
				</div>
			</div>
		</div>
		<div class="services__bottom">
			<div class="services__bottom-img">
				<img src="img/services3.jpg" alt="Гостевой дом “АВЕНСА”">
			</div>
			<div class="text">
				<p class="text">
					На благоустроенной территории находятся: беседки, столики стационарные и переносные, лавочка, мангальная зона с набором для барбекю. На  всей территории бесплатный Wi-Fi.
					Открытая парковка с видеонаблюдением.
				</p>
				<p class="text">
					Ждем вас в гости круглогодично по предварительному бронированию. <br>
					Время заезда: с 12.00 до 18.00 <br>
					Время выезда:  до 11.00 <br>
					Принимаются дети с 2х лет. <br>
					Размещение с животными запрещено.
				</p>
			</div>
		</div>
	</div>
</section>